.flashcard {
  width: 300px; /* Adjust to your desired width */
  height: 200px; /* Adjust to your desired height */
  perspective: 1000px; /* Enable 3D perspective */
  margin: auto; /* Center the card */
  transition: transform 0.6s; /* Smooth transition for flipping */
  position: relative; /* Position relative for absolute children */
  border: 2px solid #433878;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden; /* Hide back side when facing away */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #f8f9fa; /* Light background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.6s; /* Smooth transition for the card's sides */
}

.card-front {
  background-color: #ffe1ff; /* Light background color for the front */
  color: #433878;
  font-weight: bold;
}

.card-back {
  transform: rotateY(180deg); /* Hide back side initially */
  background-color: #e4b1f0;
  color: #433878;
  font-weight: bold;
}

.flipped .card-front {
  transform: rotateY(180deg); /* Rotate front */
}

.flipped .card-back {
  transform: rotateY(0); /* Show back */
}

.btn-custom-primary {
  background-color: #433878; /* Green background */
  color: white; /* White text */
  font-weight: bold;
  border: #ffe1ff; /* No border */
}

.btn-custom-secondary {
  background-color: #433878;
  color: white; /* White text */
  font-weight: bold;
  border: #ffe1ff; /* No border */
}

.card-front {
  position: relative;
}

.delete-button {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 10;
  background-color: transparent;
  border: none;
  color: #433878;
  cursor: pointer;
}

/* Styling for search icon */
/* Style for the search input */
.search-bar {
  border-color: #433878; /* Set the border color to #433878 */
}

.search-bar:focus {
  border-color: #433878; /* Ensure the border color is maintained on focus */
  box-shadow: 0 0 0 0.2rem rgba(67, 56, 120, 0.25); /* Optional: Add shadow effect on focus */
}

/* Style for the search icon container */
.input-group-prepend .input-group-text {
  font-size: 1.2rem; /* Adjust the icon size to match the input's height */
  height: 100%; /* Ensure the button has the same height as the input */
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #433878; /* Set the same border color for the icon */
}

/* Style for the search icon */
.search-icon {
  font-size: 1.2rem; /* Adjust the icon size to fit within the input */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #433878;
  color: white;
}
